<div class="nav-rail">
    <a asp-controller="Admin" asp-action="HomePage">
        <span class="material-symbols-outlined icon-bg rounded-pill">home</span>
        <span class="label">Home</span>
    </a>
    <a asp-controller="Vehicle" asp-action="DisplayVehicles">
        <span class="material-symbols-outlined">local_shipping</span>
        <span class="label">Vehicle</span>
    </a>
    <a asp-controller="Order" asp-action="OrderScreen">
        <span class="material-symbols-outlined">orders</span>
        <span class="label">Orders</span>
    </a>
    <a asp-controller="Order" asp-action="ViewOrders">
        <span class="material-symbols-outlined">package</span>
        <span class="label">Package</span>
    </a>
    <a asp-action="ChatView" asp-controller="Chat">
        <span class="material-symbols-outlined">chat</span>
        <span class="label">Chat</span>
    </a>
    <a asp-controller="Authentication" asp-action="Logout">
        <span class="material-symbols-outlined">logout</span>
        <span class="label">Logout</span>
    </a>
</div>
