<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
          rel="stylesheet">
    <title>BackCAPS Logistics</title>
    <style>
        body {
            background-color: #FFF8F7;
            font-family: 'Poppins', sans-serif;
        }

        .card {
            box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.23);
            border-radius: 44px;
        }

        .form-floating {
            position: relative;
        }

        .icon {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 1rem;
            z-index: 2;
        }

        .form-floating label,
        .form-floating .form-control {
            padding-left: 3rem;
        }

        .form-control {
            background-color: #F2E5E3;
            border-radius: 15px;
        }

        h1 {
            font-weight: 700;
        }

        a {
            color: black;
            text-decoration: none;
            font-size: 0.875rem;
        }

        a span {
            text-decoration: underline;
        }

        .btn-signup {
            background-color: #C00012;
            border-radius: 20px;
            width: 100%;
            max-width: 200px;
        }

        media (max-width: 992px) {
            .container {
                padding: 1rem;
            }
            .card {
                padding: 1rem;
            }
        }
    </style>
</head>

<body>
    <div class="container d-flex justify-content-center align-items-center min-vh-100">
        <div class="row w-100">
            <div class="col-lg-6 d-flex justify-content-center align-items-center flex-column">
                <img src="/Assets/signup_background.png" class="img-fluid mb-3" alt="signup_background" style="max-width: 100%;">
                <img src="/Assets/backcaps.png" alt="logo" class="img-fluid" style="max-width: 80%;">
            </div>
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body p-4 p-md-5">
                        <h1 class="text-center mb-4">Owner Signup</h1>
                        <form asp-controller="Authentication" asp-action="Registration" method="post">
                            <div class="form-floating mb-3">
                                <i class="icon bi bi-person-fill fs-5"></i>
                                <input class="form-control" name="FullName" type="text" id="name" placeholder="Full Name">
                                <label for="name">Full Name</label>
                            </div>
                            <div class="form-floating mb-3">
                                <i class="icon bi bi-envelope-fill fs-5"></i>
                                <input class="form-control" name="Email" type="email" id="email" placeholder="Email">
                                <label for="email">Email</label>
                            </div>
                            <div class="form-floating mb-3">
                                <i class="icon bi bi-lock-fill fs-5"></i>
                                <input class="form-control"
                                       name="Password"
                                       type="password"
                                       id="password"
                                       placeholder="Password"
                                       required
                                       minlength="8"
                                       maxlength="20">
                                <label for="password">Password</label>
                            </div>
                            <div class="d-flex justify-content-center mb-3">
                                <button type="submit" class="btn btn-danger btn-signup py-3">Sign Up</button>
                            </div>
                            <div class="text-center">
                                <a asp-controller="Authentication" asp-action="Login">Already have an account? <span>Sign in</span></a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
</body>

</html>
