<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Order</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            padding: 0px;
            background-color: #f4f4f4;
            margin-left: 100px;
        }

        h1 {
            text-align: center;
            margin-bottom: 20px;
        }

        .order-form {
            max-width: 800px;
            margin: 20px auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .form-group {
            margin-bottom: 15px;
        }

        label {
            display: block;
            font-weight: bold;
        }

        input[type="text"],
        input[type="number"],
        input[type="datetime-local"] {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-sizing: border-box;
        }

        button {
            width: 100%;
            padding: 10px;
            border: none;
            border-radius: 5px;
            background-color: #007bff;
            color: #fff;
            cursor: pointer;
        }

            button:hover {
                background-color: #0056b3;
            }

    </style>
</head>
<body>
    <h1>Add Driver</h1>
    <form asp-controller="Driver" asp-action="AddingDriver" method="post" class="order-form">
        <div class="form-group">
            <label for="Name">Driver Name:</label>
            <input type="text" id="Name" name="Name" required>
        </div>
        <div class="form-group">
            <label for="ExperienceinYears">Experience in Years:</label>
            <input type="number" id="ExperienceinYears" name="ExperienceinYears" required>
        </div>
        <div class="form-group">
            <label for="licenseNumber">license Number:</label>
            <input type="number" id="licenseNumber" name="licenseNumber" step="1" required>
        </div>
        <button type="submit">Submit</button>
    </form>
    <a class="btn btn-dark" style="width:13%" onclick="goBack()">Go Back</a>
    <script>
        function goBack() {
            window.history.back();
        }
    </script>
</body>
</html>
