<head>
    <title>Home Page</title>
</head>
<style>
    body {
        margin-left: 100px;
        padding: 20px;
        z-index:1
    }
</style>
@Html.Partial("_Sidebar")
<body>
    <h1>Welcome</h1>
</body>